/* -----------
   fonts
------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400&family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&family=Roboto:wght@500&family=Twinkle+Star&family=Ubuntu&display=swap");
/* -----------
   common style or utilities
------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* -----------
   nav
------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 25px 120px 50px 120px;
}
nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #3a3a3a;
}
.nav-title {
    font-size: 24px;
    font-weight: bold;
}
.nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
/* -----------
   main
------------- */
/* -----------
   Influencer information
------------- */
.container {
    display: flex;
    margin: 80px 120px 50px 120px;
}
.influencer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}
.influencer-details h1 {
    font-size: 52px;
    word-wrap: normal;
}
.btn {
    background-color: #e02c6d;
    padding: 13px;
    border-radius: 100px;
    margin-top: 26px;
    border: none;
}
.btn a {
    text-decoration: none;
    color: #eeeeee;
}

.btn:hover {
    background-color: #5a5a5a;
    transition: background-color 0.7s ease-in-out;
}
.influencer-images {
    border: 2px solid #f7f0ff;
    border-radius: 500px;
    margin-left: 8rem;
}
.influencer-images img {
    border-radius: 500px;
    padding: 40px;
}
.influencer-images img:hover {
    transform: scale(1.2);
    transition: transform 1s ease-in-out 0.1s;
}
/* -----------
   company logos
------------- */
.compnay-logos {
    margin: 100px 0;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 15px;
}
hr {
    border: 0.2px solid #5a5a5a0c;
    width: 60%;
    border-radius: 1000px;
    margin-left: 20%;
}
